.menu-management{
  margin: 1rem 1rem 0 1rem;
}

.menu-tree-panel{
  max-height:600px;
  overflow: auto;
}

.menu-detail-panel{
  display:block !important;
}

.menu-button{
  margin: 0 0.3rem 0 0;
}

